.sobre-mim-container {
    position: relative;
    width: 1440px;
    height: 1024px;
    margin: 0 auto;
}

.circle-bg {
    position: absolute;
    width: 425px;
    height: 368px;
    left: 70px;
    top: 160px;
    background-color: #D0BCEC;
    opacity: 0.4;
    border-radius: 50%;
}

.profile-figure {
    position: absolute;
    width: 432px;
    height: 416px;
    left: 66px;
    top: 216px;
    object-fit: contain;
}

.content-text {
    position: absolute;
    left: 568px;
    top: 194px;
}

.content-text h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    width: 197px;
    height: 44px;
    margin-bottom: 33px;
}

.content-text p {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    width: 750px;
    height: 296px;
}

.interesses-title {
    position: absolute;
    left: 568px;
    top: 550px;
    width: 788px;
    height: 170px;
    font-family: 'Caveat', cursive;
    font-size: 45px;
    color: #8A38F5;
}

.cards-container {
    position: absolute;
    top: 756px;
    display: flex;
    gap: 98px;
}

.card {
    width: 380px;
    height: 201px;
    background-color: rgba(138, 56, 245, 0.5);
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.card:nth-child(1) {
    margin-left: 66px;
}

.card span {
    font-family: 'Iria Sans', sans-serif;
    font-size: 30px;
    color: #100A62;
    text-align: center;
    transition: color 0.3s ease;
}

.card:hover {
   background-color: #8A38F5;
}

.card:hover span {
    color: #ffffff;
}